@import "tailwindcss";

:root {
  --background: #fbfbfb;
  --textColor: "black";
}

@theme inline {
  --color-background: var(--background);
  --color-textColor: var(--textColor);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--textColor);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: var(--background);
}

.wrapper {
  padding: ;
}

button {
  cursor: pointer;
}

#dashboard {
  height: calc(100vh - 80px);
}

.modal-image-gradient {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
}
