@import "tailwindcss";

:root {
  --background: #FBFBFB;
  --textColor: #555555;
}

@theme inline {
  --color-background: var(--background);
  --color-textColor: var(--textColor);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--textColor);
  font-family: Arial, Helvetica, sans-serif;
}


.wrapper{
  padding: 
}

#dashboard{
  display: grid;
  grid-template-columns: 2fr 10fr;
}